
.container-button{
    text-align: center;
    bottom: 2.5vh;
    position: fixed;
    left: 0;
    height: 40px;
    width: 100%;
}

button{
    height: 60px;
    font-family: 'Poppins';
    font-size: 200;
}

.row{
    margin-left: 20px;
    margin-right: 20px;
}