.container-footer {
    /* text-align: center; */
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    bottom: 10vh;
    left: 0;
    height: 80px;
    position: fixed;
    width: 100%;

}

.container-price {
    text-align: right;
    padding-right: 0;
}

.container-total {
    text-align: left;
    padding-left: 0;
    
}

.row {
    position: relative;
    transform: translatey(-60%);
    top: 60%;
}